{% extends 'base.html' %}
{% load bootstrap3 %}

{% block bootstrap3_content %}
	<center>
		<div class="jumbotron">
			<h1>Fast geschafft!</h1>
			<p>Bevor du deine Belohnung kriegst, musst du noch dieses Rätsel lösen.</p>
		</div>
		
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<form action="/{{ reward.key }}/" method="post">
				{% csrf_token %}
				{% for riddle in riddles %}
					{% if error_message %}<p class="alert alert-danger"><strong>Fehler: </strong>{{ error_message }}</p>{% endif %}
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Frage:</h3>
							<input type="hidden" name="{{ riddle.pk }}_tries" value="{{ riddle.tries }}" />
						</div>
						<div class="panel-body">
							<strong>{{ riddle.question }}</strong> <br/><br/>
							<input placeholder="Antwort" name="{{ riddle.pk }}_user_answer" />
							<input type="submit" class="btn btn-primary"  value="Antworten!" />
						</div>
					</div>
				{% endfor %}
			</form>
		</div>
	</center>  
{% endblock %}
