{% extends 'base.html' %}
{% load bootstrap3 %}

{% block bootstrap3_content %}
	<center>
		<div class="jumbotron">
			<h1>Super!</h1>
			<p>Hier deine Belohnung:</p>
		</div>
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Belohnung:</h3>
				</div>
				<div class="panel-body">
					{{ reward.text }}
					<br/><br/>
					{% for i in reward.image_set.all %}
						{% if i.content_type|slice:":6" == 'image/' %}
							<img src="{{ i.serving_url }}" />
						{% else %}
							<a href="{{ i.download_url }}">{{ i.filename }}</a>
						{% endif %}
						<br/>
					{% endfor %}
				</div>
			</div>
		</div>
	</center>  
{% endblock %}
